.reg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    max-width: 100% !important;
}

.reg-card {
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.reg-form-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: black !important;
    text-align: center;
}

.reg-form {
    display: flex;
    flex-direction: column;
}

.reg-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.reg-button {
    padding: 10px;
    background-color: black;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.reg-button:hover {
    background-color: #041736;
}


.reg-error {
    color: #7f1d1d;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #7f1d1d;
    padding: 5px;
    border-radius: 4px;
}

.reg-success {
    color: #15803d;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #15803d;
    padding: 5px;
    border-radius: 4px;
}

.reg-img {
    width: 250px !important;
}

.reg-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    margin-top: 20px;
}