* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}


html, body {
    height: 100%;
    margin: 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.no-margin {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
